vite.config.mts
build
tests
doc
*.log
*.tmp
.vscode
.github
playwright.config.js
pkg
*.map
.stylelintrc.json
dist
.last-run.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
