:root {
  --primary-color-50: #f8fafc;
  --primary-color-100: #f1f5f9;
  --primary-color-200: #e2e8f0;
  --primary-color-300: #cbd5e1;
  --primary-color-400: #94a3b8;
  --primary-color-500: #64748b;
  --primary-color-600: #475569;
  --primary-color-700: #334155;
  --primary-color-800: #1e293b;
  --primary-color-900: #0f172a;

  --color-indigo-50: #f0f5ff;
  --color-indigo-100: #e5edff;
  --color-indigo-200: #cddbfe;
  --color-indigo-300: #b4c6fc;
  --color-indigo-400: #8da2fb;
  --color-indigo-500: #6875f5;
  --color-indigo-600: #5850ec;
  --color-indigo-700: #5145cd;
  --color-indigo-800: #42389d;
  --color-indigo-900: #362f78;
}
