:root {
  --input-color: #495057;
  --input-background-color: #ecebeb;
  --input-border-color: #ced4da;
  --input-background-hover: #ebebeb;
  --input-background-focus: #e7e4e4;
  --input-placeholder: #696969;
  --input-outline: grey;
  --input-outline-hover: var(--input-outline);
}

form {
  margin: 0.5rem;
}

fieldset {
  border: 0;
}

label {
  font-size: 1.1rem;
}

input {
  display: block;
  height: calc(1.25em + 0.75rem + 2px);
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: var(--input-color);
  background-color: var(--input-background-color);
  background-clip: padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  transition:
    border-color var(--transition-time) ease-in-out,
    box-shadow var(--transition-time) ease-in-out;
}

input:disabled {
  color: #ccc;
  border: 0 solid #fff;
  pointer-events: none;
}
