
form {
  margin: 0.5rem;
}

fieldset {
  border: 0;
}

label {
  font-size: 1.1rem;
}

input {
  display: block;
  height: calc(1.25em + 0.75rem + 2px);
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-200);
  background-clip: padding-box;
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--border-radius);
  transition:
    border-color var(--transition-time) ease-in-out,
    box-shadow var(--transition-time) ease-in-out;
}

input:disabled {
  color: var(--color-neutral-50);
  border: 0 solid var(--color-neutral-50);
  pointer-events: none;
}
