:root {
  --primary-color: #6e3e81;
  --background-color: #ecebeb;

  --transition-time: 0.15s;
  --border-radius: 0.25rem;

  --active-color: rgb(84, 102, 58);

  --error-color: #b00020;
  --ok-color: #15b000;
  --unknown-color: #7f7f7f;

  --input-color: #495057;
  --input-background-color: #ecebeb;
  --input-border-color: #ced4da;

  --input-background-hover: #ebebeb;
  --input-background-focus: #e7e4e4;
  --input-placeholder: #696969;
  --input-outline: grey;
  --input-outline-hover: var(--input-outline);
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1%;
}

.row > div {
  margin-right: 0.5%;
}

.logo {
  max-height: 32px;
  padding: 6px;
  width: 32px;
  border-style: none;
  box-sizing: content-box;
}

body {
  display: grid;
  grid-gap: 1px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
  background-color: transparent;
}

form {
  margin: 0.5rem;
}

fieldset {
  border: 0;
}

label {
  font-size: 1.1rem;
}

input {
  display: block;
  height: calc(1.25em + 0.75rem + 2px);
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: var(--input-color);
  background-color: var(--input-background-color);
  background-clip: padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  transition: border-color var(--transition-time) ease-in-out,
    box-shadow var(--transition-time) ease-in-out;
}

input:disabled {
  color: #ccc;
  border: 0 solid #fff;
  pointer-events: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  box-shadow: darkgrey;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 0.5rem;;
  box-shadow: 12px 12px rgba(0.9, 0.9, 0.9, 0.1);
  padding: 0.5rem;
}

.modal {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.384);
}

.spinner {
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #15c03a;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  margin: 0 0 1px 8px;
  padding: 0;
  transition: all 0.2s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: var(--error-color);
}

.error-hint {
  background-color: var(--error-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.ok {
  color: var(--ok-color);
}

.ok-hint {
  background-color: var(--ok-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.unknown-hint {
  background-color: var(--unknown-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.log {
  white-space: pre;
  font-family: courier, "courier new", monospace;
}

