:root {
  --primary-color-r: 110;
  --primary-color-g: 62;
  --primary-color-b: 129;
  --primary-color-rgb: var(--primary-color-r), var(--primary-color-g), var(--primary-color-b);
  --primary-color: rgb(var(--primary-color-rgb));
  --background-color: #ecebeb;
  --transition-time: 0.15s;
  --border-radius: 0.25rem;
  --active-color: rgb(84, 102, 58);
  --error-color: #b00020;
  --ok-color: #15b000;
  --unknown-color: #7f7f7f;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1%;
}

.row > div {
  margin-right: 0.5%;
}

.logo {
  max-height: 32px;
  padding: 6px;
  width: 32px;
  border-style: none;
  box-sizing: content-box;
}

body {
  display: grid;
  grid-gap: 1px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 12px 12px rgba(0.9, 0.9, 0.9, 0.1);
  padding: 0.5rem;
}

.modal {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.384);
}

.error {
  color: var(--error-color);
}

.error-hint {
  background-color: var(--error-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.ok {
  color: var(--ok-color);
}

.ok-hint {
  background-color: var(--ok-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.unknown-hint {
  background-color: var(--unknown-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.log {
  white-space: pre;
  font-family: courier, "courier new", monospace;
}
