:root {
  --primary-color: 110, 62, 129;

  --button-color: 149, 85, 175;
  --button-active-color: 207, 137, 235;
  --button-hover-color: 69, 28, 85;
  --button-disabled-background-color: 149, 85, 175, 101;
}

div {
  display: block;
}

.pc1 {
  background-color: rgba(var(--primary-color), 0.1);
}

.pc2 {
  background-color: rgba(var(--primary-color), 0.2);
}

.pc3 {
  background-color: rgba(var(--primary-color), 0.3);
}

.pc4 {
  background-color: rgba(var(--primary-color), 0.4);
}

.pc5 {
  background-color: rgba(var(--primary-color), 0.5);
}

.pc6 {
  background-color: rgba(var(--primary-color), 0.6);
}

.pc7 {
  background-color: rgba(var(--primary-color), 0.7);
}

.pc8 {
  background-color: rgba(var(--primary-color), 0.8);
}

.pc9 {
  background-color: rgba(var(--primary-color), 0.9);
}
