:root {
  --primary-colorR: #6e;
  --primary-colorG: #3e;
  --primary-colorB: #81;

  --primary-color: #6e, #3e, #81;
}

div {
  display: block;
}

.c0 {
  background-color: rgba(var(--primary-color),0.2);
}

.c1 {
  background-color: rgba(var(--primary-color),0.3);
}

.c2 {
  background-color: rgba(var(--primary-color),0.8);
}
