div {
  display: block;
}

.cp50 {
  background-color: var(--color-primary-50);
}

.cp100 {
  background-color: var(--color-primary-100);
}

.cp200 {
  background-color: var(--color-primary-200);
}

.cp300 {
  background-color: var(--color-primary-300);
}

.cp400 {
  background-color: var(--color-primary-400);
}

.cp500 {
  background-color: var(--color-primary-500);
}

.cp600 {
  background-color: var(--color-primary-600);
}

.cp700 {
  background-color: var(--color-primary-700);
}

.cp800 {
  background-color: var(--color-primary-800);
}

.cp900 {
  background-color: var(--color-primary-900);
}


.cn50 {
  background-color: var(--color-neutral-50);
}

.cn100 {
  background-color: var(--color-neutral-100);
}

.cn200 {
  background-color: var(--color-neutral-200);
}

.cn300 {
  background-color: var(--color-neutral-300);
}

.cn400 {
  background-color: var(--color-neutral-400);
}

.cn500 {
  background-color: var(--color-neutral-500);
}

.cn600 {
  background-color: var(--color-neutral-600);
}

.cn700 {
  background-color: var(--color-neutral-700);
}

.cn800 {
  background-color: var(--color-neutral-800);
}

.cn900 {
  background-color: var(--color-neutral-900);
}


.ca50 {
  background-color: var(--color-accent-50);
}

.ca100 {
  background-color: var(--color-accent-100);
}

.ca200 {
  background-color: var(--color-accent-200);
}

.ca300 {
  background-color: var(--color-accent-300);
}

.ca400 {
  background-color: var(--color-accent-400);
}

.ca500 {
  background-color: var(--color-accent-500);
}

.ca600 {
  background-color: var(--color-accent-600);
}

.ca700 {
  background-color: var(--color-accent-700);
}

.ca800 {
  background-color: var(--color-accent-800);
}

.ca900 {
  background-color: var(--color-accent-900);
}


.cw50 {
  background-color: var(--color-warn-50);
}

.cw100 {
  background-color: var(--color-warn-100);
}

.cw200 {
  background-color: var(--color-warn-200);
}

.cw300 {
  background-color: var(--color-warn-300);
}

.cw400 {
  background-color: var(--color-warn-400);
}

.cw500 {
  background-color: var(--color-warn-500);
}

.cw600 {
  background-color: var(--color-warn-600);
}

.cw700 {
  background-color: var(--color-warn-700);
}

.cw800 {
  background-color: var(--color-warn-800);
}

.cw900 {
  background-color: var(--color-warn-900);
}