/*
@import "modern-normalize.css";
*/

:root {
  --transition-time: 0.15s;
  --border-radius: 0.25rem;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1%;
}

.row > div {
  margin-right: 0.5%;
}

.logo {
  max-height: 32px;
  padding: 6px;
  width: 32px;
  border-style: none;
  box-sizing: content-box;
}

body {
  display: grid;
  gap: 1px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-50);
}

a {
  text-decoration: none;
  background-color: transparent;
}

.window {
  background-color: var(--color-neutral-50);
  border: 2px solid var(--color-neutral-200);
  border-radius: 0.5rem;
  box-shadow: 12px 12px var(--color-neutral-900-10);
  padding: 0.5rem;
}

.error {
  color: var(--color-warn-500);
}

.error-hint {
  background-color: var(--color-warn-500);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.ok {
  color: var(--color-accent-500);
}

.ok-hint {
  background-color: var(--color-accent-500);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}

.unknown-hint {
  background-color: var(--color-neutral-200);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 8px;
  line-height: 16px;
  width: 8px;
}
