[role="tablist"] {
  margin: 0 0 -0.1em;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  border: 1px solid var(--color-primary-300);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: 0 0 0.2em var(--color-primary-500);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: var(--color-primary-100);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  content: "";
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: var(--color-primary-500);
  outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  background: var(--color-primary-600);
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 0.3em;
  background: var(--color-primary-500);
  box-shadow: none;
  content: "";
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: var(--color-primary-600);
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: 0.5em 0.5em 0.7em;
  border: 1px solid var(--color-primary-300);
  border-radius: 0 var(--border-radius) var(--border-radius)
    var(--border-radius);
  box-shadow: 0 0 0.2em var(--color-primary-600);
}

[role="tabpanel"]:focus {
  border-color: var(--color-primary-800);
  box-shadow: 0 0 0.2em var(--color-primary-600);
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid var(--color-primary-600);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  content: "";
}
