
.alter-sorting {
  float: right;
  width: 12px;
  height: 18px;
  border: 0;
  padding: 0;
  margin: 2px 0 auto 6px;
  background-color: var(--color-primary-800);
  cursor: pointer;
}

.alter-sorting:hover {
  background-color: var(--color-primary-500);
}

[aria-sort="descending"] > .alter-sorting {
  mask-image: url("images/sort-descending.svg");
}

[aria-sort="ascending"] > .alter-sorting {
  mask-image: url("images/sort-ascending.svg");
}

[aria-sort="none"] > .alter-sorting {
  mask-image: url("images/sort-none.svg");
}
