:root {
  --table-padding: 0.5rem;
}

table {
  color: var(--color-primary-900);
  border-collapse: collapse;
}

th {
  background-color: var(--color-primary-200);
  text-align: inherit;
  font-weight: bold;
}

th,
td {
  padding: var(--table-padding);
}

.bordered :is(td, th) {
  border: 1px solid var(--color-neutral-300);
}

.striped tbody tr:nth-of-type(odd) {
  background: var(--color-neutral-100);
}

.hoverable tbody tr:hover {
  background-color: var(--color-accent-100);
}

.sticky thead {
  position: sticky;
  inset-block-start: 0;
}

.sticky tfoot {
  position: sticky;
  inset-block-end: 0;
}

th > input {
  margin: 0;
}

th > input:not(:focus) {
  font-size: 0.5rem;
}
