:root {
  --table-padding: 0.75rem;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--color-primary-900);
  border-collapse: collapse;
}

th {
  background-color: var(--color-primary-200);
  text-align: inherit;
  font-weight: bold;
  padding: var(--table-padding);
  vertical-align: bottom;
}

th[aria-sort]::before {
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  content: "↕";
}

th[aria-sort="descending"]::before {
  content: "↑";
}

th[aria-sort="ascending"]::before {
  content: "↓";
}

td {
  padding: var(--table-padding);
  vertical-align: top;
}

.bordered :is(td, th) {
  border: 1px solid var(--color-neutral-300);
}

.striped tbody tr:nth-of-type(odd) {
  background: var(--color-neutral-100);
}

.hoverable tbody tr:hover {
  background-color: var(--color-accent-100);
}
