
[aria-sort]:hover {
  background-color: var(--color-primary-400);
}

/*
th[aria-sort]::before {
  float: right;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  content: "↕";
}

th[aria-sort="descending"]::before {
  content: "↑";
}

th[aria-sort="ascending"]::before {
  content: "↓";
}
*/

th > button {
  cursor: pointer;

  background: transparent;
  border: 1px solid transparent;
  color: inherit;
  padding: 0.25em 0.5em 0.25em 1em;
  width: 100%;
  min-width: 4.5em;
  display: grid;
  grid-template-columns: minmax(2em, max-content) .65em auto;
  grid-template-areas: "t a x" "t d x";
}

[aria-sort="descending"] img {
   content: url(images/sort-descending.svg)
}

[aria-sort="ascending"] img {
  content: url(images/sort-ascending.svg)
}

[aria-sort="none"] img {
  content: url(images/sort-none.svg)
}
