name: Lighthouse CI
'on':
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.1
      - name: Generate URLs
        id: urls
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const globber = await glob.create('tests/app/*.html');
            const files = await globber.glob();
            const urls = files
              .map(x => x.match(/([\w-]+)\.html$/)[1])
              .map(x => `https://mfelten.dynv6.net/examples/mf-styling/${x}`)
              .join('\n');
            core.setOutput('urls', urls);
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            ${{ steps.urls.outputs.urls }}
          uploadArtifacts: true
          temporaryPublicStorage: true
